<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DristLauncher4.IPCONFIGs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DristLauncher4.MinecraftStartParametrs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DristLauncher4.IPCONFIGs>
            <setting name="url_to_build" serializeAs="String">
                <value>https://raw.githubusercontent.com/Sesdear/ips_for_dl4/main/server_ips.json</value>
            </setting>
            <setting name="file_server_url" serializeAs="String">
                <value />
            </setting>
            <setting name="servers_info_url" serializeAs="String">
                <value />
            </setting>
            <setting name="manifest_server_url" serializeAs="String">
                <value />
            </setting>
            <setting name="manifest_file_name" serializeAs="String">
                <value />
            </setting>
        </DristLauncher4.IPCONFIGs>
        <DristLauncher4.MinecraftStartParametrs>
            <setting name="JavaPath" serializeAs="String">
                <value>C:\Program Files\Java\jdk-17\bin\java.exe</value>
            </setting>
            <setting name="XmxGb" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="XmsGb" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsDemo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerIp" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionType" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="GameLauncherName" serializeAs="String">
                <value>DLauncher4</value>
            </setting>
            <setting name="GameLaucherVersion" serializeAs="String">
                <value>0.0.1</value>
            </setting>
            <setting name="Mirror" serializeAs="String">
                <value>default</value>
            </setting>
        </DristLauncher4.MinecraftStartParametrs>
    </userSettings>
</configuration>