<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DristLauncher4.MinecraftStartParametrs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DristLauncher4.MinecraftStartParametrs>
            <setting name="JavaPath" serializeAs="String">
                <value>C:\Program Files\Java\jre1.8.0_421</value>
            </setting>
            <setting name="XmxGb" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="XmsGb" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IsDemo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerIp" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionType" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="GameLauncherName" serializeAs="String">
                <value>DLauncher4</value>
            </setting>
            <setting name="GameLaucherVersion" serializeAs="String">
                <value>0.0.1</value>
            </setting>
        </DristLauncher4.MinecraftStartParametrs>
    </userSettings>
</configuration>