<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DristLauncher_4.LauncherSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DristLauncher_4.MinecraftOptions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DristLauncher_4.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DristLauncher_4.serversUrls" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DristLauncher_4.LauncherSettings>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
        </DristLauncher_4.LauncherSettings>
        <DristLauncher_4.MinecraftOptions>
            <setting name="Nickname" serializeAs="String">
                <value />
            </setting>
            <setting name="Uuid" serializeAs="String">
                <value />
            </setting>
            <setting name="JavaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MaximumRamMb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinimumRamMb" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="DockName" serializeAs="String">
                <value>DristPunk 4</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VersionType" serializeAs="String">
                <value>DristPunk4</value>
            </setting>
            <setting name="GameLauncherName" serializeAs="String">
                <value>DristLauncher 4</value>
            </setting>
            <setting name="GameLauncherVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="MModLoaderVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="MModLoader" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientToken" serializeAs="String">
                <value />
            </setting>
        </DristLauncher_4.MinecraftOptions>
        <DristLauncher_4.Settings1>
            <setting name="Server1" serializeAs="String">
                <value />
            </setting>
            <setting name="Server2" serializeAs="String">
                <value />
            </setting>
            <setting name="Server3" serializeAs="String">
                <value />
            </setting>
            <setting name="Server4" serializeAs="String">
                <value />
            </setting>
        </DristLauncher_4.Settings1>
        <DristLauncher_4.serversUrls>
            <setting name="GithubUrl" serializeAs="String">
                <value>https://github.com/Sesdear/ips_for_dl4/blob/main/server_ips.json</value>
            </setting>
            <setting name="ServerIp" serializeAs="String">
                <value>109.174.10.81</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>30752</value>
            </setting>
            <setting name="ServerProtocol" serializeAs="String">
                <value>http</value>
            </setting>
            <setting name="ServersListFile" serializeAs="String">
                <value>servers_index.json</value>
            </setting>
        </DristLauncher_4.serversUrls>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>